.receiveContentPage {
    image {
        width: 100%;
    }

    button {
        width: 100%;
        border: 1px solid transparent;
        margin: auto;
        border-radius: 0px;
        position: absolute;
        bottom: 0px;
    }
}