.sendContenPage {
  textarea {
    text-align: center;
    padding: 15px;
    margin-top: 100px;
    height: 3em;
    font-size: 18px;
    background-color: #efefef;
  }
  button {
    width: 60%;
    margin: auto;
    margin-top: 50px;
  }
}